@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
.wrapper {
  max-width: 1390px;
  width: 96.52%;
}
:root {
  --first-menu-background-color:#212529;
  --first-menu-font-color:#F8F9FA;
}
header {
  width: 100%;
}
.navbar-first {
  background-color: var( --first-menu-background-color);
  width: 100%;
  /*
  esta deixando no centro
  */
  display: flex;
  justify-content: center
}
.menu-first ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 3.6rem;
}
.menu-first ul li {
  display: flex;
  align-items: center;

}
.menu-first ul li a {
color: var(--first-menu-font-color);
line-height: 3.5rem;
font-size: 2rem;
text-align: center;
font-weight: 700;
margin-left: 0.8rem;
}
.menu-first {
  display: flex;
  justify-content: space-between;
  height: 9.5rem;
  align-items: center;
}

.menu-first ul li span  {
  color: var(--first-menu-background-color);
  font-weight: 500;
  font-size: 2rem;
  display: flex;
  padding: 0.6rem 1.25rem;
  background-color: var(--first-menu-font-color);
}
.menu-first .controls {
  display: flex;
  align-items: center;
  width: 17.5rem;
  height: 5.5rem;
  justify-content: space-between;
}
.menu-first .controls .button-font-increment {
  background-color: var(--first-menu-font-color);
  color: var(--first-menu-background-color);
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.5rem;
  font-family: 'Inter', sans-serif;
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  border: none;
  border-radius: 20%;
  cursor: pointer;
}

.button-dark-mode {
  background-color: transparent;
  color: transparent;
  width: 5.3rem;
  height: 5.5rem;
  border: none;
  cursor: pointer;
}
.container-logo-and-search {
  padding: 2rem 0;
  background-color: #F0F0F0;
  display: flex;
  justify-content: center
}

.container-logo-and-search > div {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem 0 ;
  justify-content: space-between;
  align-items: center;
}
.container-logo-and-search .logo {
  display: flex;
  align-items: center;
  padding: 3.4rem 4.15rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.5rem;
  font-family: 'Inter', sans-serif;
  border-radius: 3rem;
  text-decoration: none;
  border: 1px solid #000000;
  color: #000000;
}

.container-logo-and-search .form-search {
  display: flex;
  align-items: center;
  border: 1.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  background-color: rgba(248, 249, 250, 1);
  border: 1.5px solid rgba(0, 0, 0, 0.5);
  padding: 0.9rem ;
  width: 54.5rem;
  height: 6.5rem;
}

.container-logo-and-search .form-search input {
  border: none;
  padding: 1.5rem 2.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  background-color: transparent;
  /* Remove the outline */
  outline: none;
  width:52.3rem ;
}

.container-logo-and-search .form-search button {
  background-color: rgba(208, 231, 255, 1);
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 3.5rem;
  text-align: center;
  border-radius: 30px;
  width: 8.9rem;
  height: 4.5rem;
  cursor: pointer;
}

.container-logo-and-search .form-search figure {
  width: 4rem;
  height: 4rem;
  margin-right: 0.25rem;
  cursor: pointer;
}

.container-logo-and-search .form-search figure img {
  width: 100%;
  height: 100%;
}

.container-logo-and-search .perfil {
  display: flex;
  align-items: center;
}

.container-logo-and-search .perfil figure {
  width: 7.3rem;
  height: 7.1rem;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}

.container-logo-and-search .perfil figure img {
  width: 100%;
  height: 100%;
}
.container-logo-and-search .perfil > div {
  display: flex;
  flex-direction: column;
  margin-left: 1.6rem;
}
.container-logo-and-search .perfil > div > span {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 3.5rem;
  font-size: 2rem;
  color: #000000;
  text-align: right;
}

.container-logo-and-search .perfil > div > p {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 3.5rem;
  font-size: 1.6rem;
  color: #000000;
}

