$first-menu-background-color: #212529;
$first-menu-font-color: #f8f9fa;

:root {
  --first-menu-background-color: #{$first-menu-background-color};
  --first-menu-font-color: #{$first-menu-font-color};
}
