$first-menu-background-color: #212529;
$first-menu-font-color: #f8f9fa;

$white: #fff;
$white-100: #f0f0f0;

$black: #000;
$black-middle: rgba(0, 0, 0, 0.5);

$blue-lighthen: rgba(248, 249, 250, 1);
$blue-light: rgba(208, 231, 255, 1);
$blue-clean: #007bff;
$blue: #1d4a72;

$gray-default: #333;
$gray-100: #e7e7e7;
$gray-200: rgba(0, 0, 0, 0.2);
$gray-300: #212529;

$green: #28a745;

body {
  --first-menu-background-color: #{$first-menu-background-color};
  --first-menu-font-color: #{$first-menu-font-color};

  --white: #{$white};
  --white-100: #{$white-100};
  --bg-white: #{$white};

  --black: #{$black};
  --black-middle: #{$black-middle};

  --blue-lighthen: #{$blue-lighthen};
  --blue-light: #{$blue-light};
  --blue-clean: #{$blue-clean};
  --blue: #{$blue};
  --bg-blue: #{$blue};

  --gray-default: #{$gray-default};
  --gray-100: #{$gray-100};
  --gray-200: #{$gray-200};
  --gray-300: #{$gray-300};

  --green: #{$green};
}

body.dark-mode {
  --first-menu-background-color: #1c1e1f;
  --first-menu-font-color: white;

  --white: white;
  --white-100: #202325;
  --bg-white: #181a1b;

  --blue: rgba(208, 231, 255, 1);
  --bg-blue: #1d4a72;
  --blue-light: #25282a;
  --blue-lighthen: #1b1e1f;

  --black: #e8e6e3;
  --black-middle: rgba(140, 130, 115, 0.5);
}
