@use "../utilities/animations";

.header {
  width: 100%;
  position: sticky;
  top: -9.5rem;
  z-index: 999;

  &__navbar {
    background-color: var(--first-menu-background-color);
    width: 100%;
    display: flex;
    justify-content: center;

    & nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: clamp(1.5rem, 2cqi, 2rem);
    }
  }

  &__navbar-items {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    gap: clamp(2rem, 2.6cqi, 3.6rem);
    margin-right: 1rem;

    & li {
      display: flex;
      align-items: center;
    }

    &--help {
      position: relative;

      & span {
        cursor: pointer;
        border-radius: 50%;

        &:hover + div {
          max-width: 100rem;
          opacity: 1;
          transition: all 0.2s ease-in-out;
        }
      }
    }

    &--help-dropdown {
      max-width: 0;
      opacity: 0;
      position: absolute;
      top: calc(100% + 1rem);
      background-color: white;
      min-width: 45rem;
      padding: clamp(1.4rem, 1.8cqi, 1.8rem);
      border-radius: 1.5rem;
      box-shadow: 4px 6px 22px -2px rgba(0, 0, 0, 0.75);
      transition: all 0.2s ease-in-out;

      & p {
        font-size: clamp(1.3rem, 1.7cqi, 1.7rem);
        margin-bottom: clamp(1.5rem, 1.9cqi, 1.9rem);
      }

      & table {
        border: 1px solid var(--border-primary);
        border-collapse: collapse;
        width: 100%;
      }

      & td,
      & th {
        border: 1px solid black;
        padding: 0.5rem 0.75rem;
        vertical-align: middle;
        font-size: clamp(1.1rem, 1.4cqi, 1.4rem);
      }
    }

    & a {
      color: var(--first-menu-font-color);
      line-height: 3.5rem;
      font-size: clamp(1.6rem, 2cqi, 2rem);
      text-align: left;
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 5px;
      font-weight: 700;
      margin-left: 0.8rem;
    }

    & span {
      color: var(--first-menu-background-color);
      font-weight: 500;
      font-size: clamp(1.6rem, 2cqi, 2rem);
      background-color: var(--first-menu-font-color);
      min-width: 3.5rem;
      min-height: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    width: 17.5rem;
    height: 5.5rem;
    justify-content: space-between;

    & button.button-font {
      background-color: var(--first-menu-font-color);
      color: var(--first-menu-background-color);
      font-size: 2rem;
      font-weight: 700;
      line-height: 3.5rem;
      width: 4.5rem;
      height: 4.5rem;
      text-align: center;
      border: none;
      border-radius: 20%;
      cursor: pointer;
    }

    & button.button-dark-mode {
      background-color: transparent;
      color: transparent;
      width: 5.3rem;
      height: 5.5rem;
      border: none;
      cursor: pointer;
    }
  }

  &__logo-and-search {
    padding: 2rem 0;
    background-color: var(--white-100);
    display: flex;
    justify-content: center;

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: center;
      gap: clamp(4rem, 6cqi, 6rem);
    }

    & .logo {
      display: flex;
      align-items: center;
      padding: 3.4rem 4.15rem;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 3.5rem;
      border-radius: 3rem;
      text-decoration: none;
      border: 1px solid var(--black);
      color: var(--black);
    }

    & .form-search {
      display: flex;
      align-items: center;
      border-radius: 2rem;
      border: 1.5px solid var(--black-middle);
      background-color: var(--blue-lighthen);
      border: 1.5px solid var(--black-middle);
      padding: 0.9rem;
      height: 6.5rem;
      max-width: 54.5rem;
      flex: 1;

      & input {
        border: none;
        padding: 1.5rem 0.5rem;
        font-size: clamp(1.6rem, 2cqi, 2rem);
        font-weight: 500;
        line-height: 2.4rem;
        overflow: hidden;
        background-color: transparent;
        outline: none;
        flex: 1;
      }

      input[type="search"]::-webkit-search-decoration:hover,
      input[type="search"]::-webkit-search-cancel-button:hover {
        cursor: pointer;
      }

      & button[type="submit"] {
        background-color: var(--blue-light);
        color: var(--blue);
        border: none;
        font-weight: 700;
        font-size: clamp(1.6rem, 2cqi, 2rem);
        line-height: 3.5rem;
        text-align: center;
        border-radius: 50rem;
        width: 8.9rem;
        height: 4.5rem;
        cursor: pointer;
      }
    }
  }

  &__search-mic {
    width: 4rem;
    height: 4rem;
    margin-right: 0.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-left: auto;

    & div,
    & img {
      display: none;

      &.active {
        display: block;
      }
    }

    & span {
      display: inline-block;
      width: 4px;
      background-color: var(--gray-default);
      border-radius: 2px;
      animation: bounce 0.6s infinite ease-in-out alternate;
    }

    & span:nth-child(1) {
      height: 15px;
      animation-delay: 0s;
    }

    & span:nth-child(2) {
      height: 15px;
      animation-delay: 0.2s;
    }

    & span:nth-child(3) {
      height: 15px;
      animation-delay: 0.4s;
    }
  }

  &__profile {
    display: flex;
    align-items: center;

    & > div {
      display: flex;
      flex-direction: column;
      margin-left: 1.6rem;

      & h2 {
        display: flex;
        font-weight: 700;
        line-height: 3.5rem;
        font-size: 2rem;
        color: var(--black);
        text-align: right;
      }

      & p {
        font-weight: 500;
        line-height: 3.5rem;
        font-size: 1.6rem;
        color: var(--black);
      }
    }

    & figure {
      width: 7.3rem;
      height: 7.1rem;
      cursor: pointer;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__menu {
    background-color: var(--white);

    & div.wrapper {
      padding: clamp(2.4rem, 2.6cqi, 2.6rem) 0;
    }

    & nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__menu-items {
    display: flex;
    gap: clamp(4rem, 4.5cqi, 4.5rem);

    & li {
      display: flex;
    }

    & span {
      color: var(--white);
      font-weight: 500;
      font-size: clamp(1.6rem, 2cqi, 2rem);
      min-width: 3.5rem;
      min-height: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--blue);
    }

    & a {
      color: var(--black);
      line-height: 3.5rem;
      font-size: clamp(1.6rem, 2cqi, 2rem);
      text-align: center;
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 5px;
      font-weight: 400;
      margin-left: 0.8rem;
    }
  }
}
